# make setters return this
lombok.accessors.chain=true

# copy @Value from private final fields to generated @RequiredArgsConstructor
lombok.copyableAnnotations+=org.springframework.beans.factory.annotation.Value
# allows Jackson to deserialize @Value
lombok.anyConstructor.addConstructorProperties=true

# getters and setters are fluent (without the get/set prefix)
lombok.accessors.fluent=true

# lombok will generate calls to the superclass implementation of toString if your class extends something.
lombok.toString.callSuper=CALL

lombok.equalsAndHashCode.callSuper=CALL